In [59]:
import numpy as np
import pandas as pd

In [60]:
from numpy.random import randn

In [61]:
 df = pd.DataFrame(randn(5,4),['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

In [62]:
df

          W         X         Y         Z
A  0.699260 -0.528472  0.324209 -0.050322
B -0.664893 -0.223881 -0.760021  0.930389
C  0.392536  0.227788 -1.202023  0.139937
D  1.089545 -0.498402  1.236549 -1.243733
E  0.574310 -1.238415  1.132408 -2.244066

In [63]:
df['W']

A    0.699260
B   -0.664893
C    0.392536
D    1.089545
E    0.574310
Name: W, dtype: float64

In [64]:
# get the data type of column w
type(df['W'])

pandas.core.series.Series

In [65]:
# call for multiple columns
df[['W', 'Z']]

          W         Z
A  0.699260 -0.050322
B -0.664893  0.930389
C  0.392536  0.139937
D  1.089545 -1.243733
E  0.574310 -2.244066

In [66]:
# create new column
df['newColumn'] = df['W'] + df['Y']

In [67]:
#drop column
# axis specifies the row or column to be used; 1 for column
# inplace being will make the results permanent 
df.drop('newColumn', axis=1, inplace=True)

In [68]:
df.drop('E')

          W         X         Y         Z
A  0.699260 -0.528472  0.324209 -0.050322
B -0.664893 -0.223881 -0.760021  0.930389
C  0.392536  0.227788 -1.202023  0.139937
D  1.089545 -0.498402  1.236549 -1.243733

In [69]:
df.shape

(5, 4)

In [70]:
# selecting rows
df.loc['A']

W    0.699260
X   -0.528472
Y    0.324209
Z   -0.050322
Name: A, dtype: float64

In [71]:
df.iloc[2]

W    0.392536
X    0.227788
Y   -1.202023
Z    0.139937
Name: C, dtype: float64

In [72]:
df.loc['B', 'Y']

-0.7600209908148298

In [73]:
df.loc[['A', 'B'], ['W', 'Y']]

          W         Y
A  0.699260  0.324209
B -0.664893 -0.760021

In [74]:
booldf=df >0

In [75]:
df[booldf]

          W         X         Y         Z
A  0.699260       NaN  0.324209       NaN
B       NaN       NaN       NaN  0.930389
C  0.392536  0.227788       NaN  0.139937
D  1.089545       NaN  1.236549       NaN
E  0.574310       NaN  1.132408       NaN

In [76]:
df[df>0]

          W         X         Y         Z
A  0.699260       NaN  0.324209       NaN
B       NaN       NaN       NaN  0.930389
C  0.392536  0.227788       NaN  0.139937
D  1.089545       NaN  1.236549       NaN
E  0.574310       NaN  1.132408       NaN

In [77]:
# get the dataframe whose w column values are grater than 0  
df[df['W']>0]

          W         X         Y         Z
A  0.699260 -0.528472  0.324209 -0.050322
C  0.392536  0.227788 -1.202023  0.139937
D  1.089545 -0.498402  1.236549 -1.243733
E  0.574310 -1.238415  1.132408 -2.244066

In [78]:
#  grab all rows whose z is less than zero
df[df['Z']<0]

          W         X         Y         Z
A  0.699260 -0.528472  0.324209 -0.050322
D  1.089545 -0.498402  1.236549 -1.243733
E  0.574310 -1.238415  1.132408 -2.244066

In [79]:
# get the rows whose w column is greater than 0 and get the z column
df[df['W']>0]['Z']

A   -0.050322
C    0.139937
D   -1.243733
E   -2.244066
Name: Z, dtype: float64

In [80]:
df[df['W']>0][['Z', 'X']]

          Z         X
A -0.050322 -0.528472
C  0.139937  0.227788
D -1.243733 -0.498402
E -2.244066 -1.238415

In [81]:
# Combining conditionals
# AND
df[(df['W']>0)&(df['Y']>0)]

          W         X         Y         Z
A  0.699260 -0.528472  0.324209 -0.050322
D  1.089545 -0.498402  1.236549 -1.243733
E  0.574310 -1.238415  1.132408 -2.244066

In [82]:
# OR conditional
df[(df['W']>0)|(df['Y']>0)]

          W         X         Y         Z
A  0.699260 -0.528472  0.324209 -0.050322
C  0.392536  0.227788 -1.202023  0.139937
D  1.089545 -0.498402  1.236549 -1.243733
E  0.574310 -1.238415  1.132408 -2.244066

In [83]:
# reset index
# df.reset_index()

          W         X         Y         Z
A  0.699260 -0.528472  0.324209 -0.050322
B -0.664893 -0.223881 -0.760021  0.930389
C  0.392536  0.227788 -1.202023  0.139937
D  1.089545 -0.498402  1.236549 -1.243733
E  0.574310 -1.238415  1.132408 -2.244066

In [85]:
newind = 'CA NY WY OR CO'.split()
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [87]:
df['States'] = newind
df

          W         X         Y         Z States
A  0.699260 -0.528472  0.324209 -0.050322     CA
B -0.664893 -0.223881 -0.760021  0.930389     NY
C  0.392536  0.227788 -1.202023  0.139937     WY
D  1.089545 -0.498402  1.236549 -1.243733     OR
E  0.574310 -1.238415  1.132408 -2.244066     CO

In [88]:
# set states as index
df.set_index('States')

               W         X         Y         Z
States
CA      0.699260 -0.528472  0.324209 -0.050322
NY     -0.664893 -0.223881 -0.760021  0.930389
WY      0.392536  0.227788 -1.202023  0.139937
OR      1.089545 -0.498402  1.236549 -1.243733
CO      0.574310 -1.238415  1.132408 -2.244066

In [89]:
df

          W         X         Y         Z States
A  0.699260 -0.528472  0.324209 -0.050322     CA
B -0.664893 -0.223881 -0.760021  0.930389     NY
C  0.392536  0.227788 -1.202023  0.139937     WY
D  1.089545 -0.498402  1.236549 -1.243733     OR
E  0.574310 -1.238415  1.132408 -2.244066     CO

In [90]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [93]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )